# 1. 변수

In [2]:
name = "홍길동"
age = 20
item_count = 15

print(name)

홍길동

In [3]:
print(age)

20

In [4]:
print(name, age, item_count)

홍길동 20 15

In [1]:
city = "seoul"
City = "busan"
print(city, City)

seoul busan

In [6]:
1city = 10

SyntaxError: invalid syntax (1197166940.py, line 1)

In [8]:
c-ity = 11

SyntaxError: cannot assign to operator (1619617436.py, line 1)

In [9]:
print = "안녕"
print(print)

TypeError: 'str' object is not callable

# 2. 자료형

## 1) 숫자형

### (1) 표현

In [5]:
# 정수
x = 5
y = -1
z = 0
money = 1_000_000_000_000

print(x, y, z, money)

5 -1 0 1000000000000

In [3]:
print(type(x))

<class 'int'>

In [6]:
# 실수
a = 3.141
b = -2.5
c = 0.00000000000001

print(a, b, c)

3.141 -2.5 1e-14

In [7]:
x = 1e+10
y = 3e-5

print(x, y)

10000000000.0 3e-05

In [8]:
print(type(x))

<class 'float'>

In [9]:
z = 1.0

print(type(z))

<class 'float'>

### (2) 산술/복합 연산

In [10]:
num1 = 10
num2 = 3

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)
print(num1 // num2)
print(num1 % num2)
print(num1 ** num2)

13
7
30
3.3333333333333335
3
1
1000

In [11]:
# 12나누기3을 num3에 담으려고 한다. num3의 type은 무엇인가?
num1 = 12
num2 = 3
num3 = num1 / num2

print(num3)
print(type(num3))

4.0
<class 'float'>

In [14]:
money = 50000
print("내 잔고:", money)

money += 20000
print("내 잔고:", money)

money -= 18000
print("내 잔고:", money)

내 잔고: 50000
내 잔고: 70000
내 잔고: 52000

### (3) 예제

반복할 횟수 구하기: 100개의 게시물을 한 페이지에 30개씩 보여주려면 총 몇 페이지가 필요할까요?

In [ ]:
# 100 나누기 30 = 몫 3 나머지 10
# 나머지 10도 페이지로 표현할 수 있다. 
# 나머지가 있는 경우에는 몫에 1을 더해야 한다.

posts = 100
posts_per_page = 30 

pages = posts // posts_per_page 
remainder = posts % posts_per_page
print(pages, remainder)

3 10

출생년도가 1982일 때 홀수, 짝수 판단하기

In [15]:
# 코드로 짝수/홀수 판단하는 방법: 나머지가 1이면 홀수, 0이면 짝수
# 나머지 연산자: %

birth = 1982

result = birth % 2
print(result)

0

## 2) ⭐ 문자열

### (1) 표현

In [18]:
message = "안녕하세요"
print(message)
print(type(message))

안녕하세요
<class 'str'>

In [19]:
# I'm hungry
message = 'I'm hungry'
print(message)

SyntaxError: invalid syntax (3671718703.py, line 2)

In [20]:
message = "I'm hungry"
print(message)

I'm hungry

In [21]:
message = "I\'m hungry"
print(message)

I'm hungry

In [ ]:
# "철수가 말했습니다"
message = '"철수가 말했습니다"'
print(message)

"철수가 말했습니다"

In [23]:
# "철수가 말했습니다"
message = "\"철수가 말했습니다\""
print(message)

"철수가 말했습니다"

In [24]:
review = """짜장면 너무 맛있어요
여러분들 꼭 사드십시오
완전추천합니다."""
print(review)

짜장면 너무 맛있어요
여러분들 꼭 사드십시오
완전추천합니다.

In [26]:
review = "짜장면 너무 맛있어요\n여러분들 꼭 사드십시오\n완전추천합니다."
print(review)

짜장면 너무 맛있어요
여러분들 꼭 사드십시오
완전추천합니다.

### (2) 연산

In [ ]:
# +(결합)
text1 = "안녕"
text2 = "반가워"

print(text1 + text2)

안녕반가워

In [28]:
# *(반복)
text3 = "헬로"

print(text3 * 5)

헬로헬로헬로헬로헬로

In [30]:
# 디버깅
print("=" * 50)
print("반복1이 시작되었습니다.")
print("=" * 50)

==================================================
반복1이 시작되었습니다.
==================================================

In [31]:
name1 = "홍길동"
name2 = "홍길동 "

print(name1)
print(name2)

홍길동
홍길동

In [32]:
print(len(name1))
print(len(name2))

3
4

### (3) 인덱싱/슬라이싱

<img src='https://www.dropbox.com/scl/fi/ixvhz1b0jwtqgz2dp3v9g/_.png?rlkey=2bj00kc0ozcfyh3jiyjd7598z&st=rsppaheg&dl=1' width=70%>

#### 인덱싱

In [35]:
regist_num = "901212-1325221"

print(regist_num[7])
print(regist_num[-7])

1
1

In [36]:
product1 = "1002A"
product2 = "1023938B"
product3 = "22C"

print(product1[-1])
print(product2[-1])
print(product3[-1])

A
B
C

#### 슬라이싱

<img src='https://www.dropbox.com/scl/fi/mfitx382pvcsal0utbuy7/_.png?rlkey=b0tcvbvi8zrc5c14azp8j9995&st=0px6migp&dl=1' width=70%>

In [ ]:
regist_num = "901212-1325221"

print(regist_num[2:6])
print(regist_num[:6])
print(regist_num[7:])

# 음수 표현으로 '1212'추출해보기

1212
901212
1325221

In [46]:
print(regist_num[-12:-8])
print(regist_num[-8:-12])

1212

문제. 주민등번호 뒷자리에서 성별을 제외하고 *로 표시해주세요.

In [50]:
regist_num = "901212-1325221"

# 1. 성별까지 문자열을 추출한다.
# 2. 뒤의 6자리를 *로 표현한다. 
# 1과 2를 합친다.

left = regist_num[:8]
print(left)
right = "*" * 6
print(right)

result = left + right
print(result)

901212-1
******
901212-1******

### (4) 문자열 포매팅(f-string)

In [53]:
name = "홍길동야"

print(f"{name}님 환영합니다.")

홍길동야님 환영합니다.

### (5) 관련 메서드

#### ⭐ 문자열 나누기(split)

In [60]:
address1 = "서울시 관악구       신림동"
address2 = "강남구/동작구/노원구"

print(address1.split())
print(address2.split("/"))

['서울시', '관악구', '신림동']
['강남구', '동작구', '노원구']

예제. 파일 확장자 찾기

In [61]:
file_name1 = "data.txt"
file_name2 = "test.ipynb"
file_name3 = "time_stamp.json"

# 확장자 추출
print(file_name1.split("."))

['data', 'txt']

#### 문자열 대체(replace)

In [62]:
email = "jason@company.com"

print(email.replace("jason", "peter"))

peter@company.com

#### 대/소문자 변환(lower, upper)

In [64]:
gender = "mmffMFmf"
print(gender.lower())
print(gender.upper())

mmffmfmf
MMFFMFMF

#### 공백 제거(lstrip/rstrip/strip)

In [66]:
name = "    홍길동    " 

print(name)
print(f"|{name}|")
print(f"|{name.strip()}|")
print(f"|{name.lstrip()}|")
print(f"|{name.rstrip()}|")

    홍길동
|    홍길동    |
|홍길동|
|홍길동    |
|    홍길동|

#### 카운트 세기(count)

In [68]:
gender1 = "mmffMFmf"
gender2 = gender.lower()
print(gender1.count("m"))
print(gender2.count("m"))

3
4

예제. 리뷰

짬뽕은 정말 맵고 맛있었어요. 해산물이 가득 들어가서 만족했습니다.
짜장면은 이 집에서 먹어본 것 중 가장 맛있었어요
짜장면 굿

In [70]:
review = """짬뽕은 정말 맵고 맛있었어요. 해산물이 가득 들어가서 만족했습니다.
짜장면은 이 집에서 먹어본 것 중 가장 맛있었어요
짜장면 굿"""

print(review)

짬뽕은 정말 맵고 맛있었어요. 해산물이 가득 들어가서 만족했습니다.
짜장면은 이 집에서 먹어본 것 중 가장 맛있었어요
짜장면 굿

In [71]:
# 짬뽕 개수 추출하기
print(review.count("짬뽕"))

1

## 3) 리스트(List)

### (1) 표현

In [3]:
# 정수 int 실수 float 문자열 str 리스트 list 튜플 tuple 딕셔너리 dict 집합 set 불 bool
mylist = []
print(mylist)
print(type(mylist))

[]
<class 'list'>

In [5]:
jan = 20000
feb = 5000
mar = 30000

money = jan + feb + mar
print(money)

55000

In [6]:
money2025 = [2000, 40000, 5000]
print(sum(money2025))

47000

In [11]:
# 리스트 만들기 
mylist = [1, 2, 3, "가", ["a", "b", "c"], (1, 2), {"key": "value"}]
print(mylist)

[1, 2, 3, '가', ['a', 'b', 'c'], (1, 2), {'key': 'value'}]

### (2) 인덱싱/슬라이싱

#### 인덱싱

In [14]:
text = "가나다라마"
print(len(text))

5

In [15]:
data = [['홍길동', 30], ['박영희', 22], ['김철수', 25]]
print(data)
print(len(data))

[['홍길동', 30], ['박영희', 22], ['김철수', 25]]
3

In [17]:
# ['박영희', 22] 를 추출하고 싶어요
print(data[1])
# 22를 추출하고 싶어
print(data[1][1])

['박영희', 22]
22

#### 슬라이싱

In [36]:
orders = ["pasta", "pizza", "coke", "bread"]
# 거꾸로
print(orders[::-1])

['bread', 'coke', 'pizza', 'pasta']

예제.

```
data = [25, "apple", 3.13, ["dog", "cat", "rabbit"]]
```

* "cat" 출력

In [19]:
data = [25, "apple", 3.13, ["dog", "cat", "rabbit"]]
print(data[-1][1])

cat

예제.

```
data = [25, 'apple', 3.13, ['dog', 'cat', 'rabbit']]
```

* ['dog', 'cat'] 출력

In [22]:
data = [25, "apple", 3.13, ["dog", "cat", "rabbit"]]
print(data[-1][:2])
print(data[-1][-3:-1])

['dog', 'cat']
['dog', 'cat']

### (2) 연산

#### 덧셈(결합)

In [23]:
text1 = "점심"
text2 = "뭐먹지?"

result = text1 + text2
print(result)

점심뭐먹지?

In [24]:
data1 = [1, 2, 3]
data2 = ["A", "B"]

result = data1 + data2
print(result)

[1, 2, 3, 'A', 'B']

In [27]:
jan_visits = [10, 0, 3, 2]
feb_visits = [2, 50, 23, 29]

visits = jan_visits + feb_visits
print(visits)

[10, 0, 3, 2, 2, 50, 23, 29]

#### 곱셈(복제)

In [25]:
text = "안녕"

result = text * 5
print(result)

안녕안녕안녕안녕안녕

In [26]:
data = [1, 2, 3]

result = data * 3
print(result)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### (3) range

`range(n)` : 0부터 n-1까지의 범위를 만들어줍니다.

In [29]:
# 연속된 숫자를 리스트로 만들고 싶어요
num_list = range(4)

print(num_list)
print(type(num_list))

range(0, 4)
<class 'range'>

In [30]:
num_list = list(range(4))

print(num_list)

[0, 1, 2, 3]

`range(start, end)` : start부터 end-1까지의 범위를 만들어줍니다.

`range(start, end, step)` : start부터 end-1까지의 step간격으로 범위를 만들어줍니다.

In [35]:
# 3부터 9까지의 범위를 리스트로 출력하고 싶어요
num_list = list(range(3, 10))
print(num_list)
# 1에서 10까지 홀수만 출력하고 싶어요
num_list = list(range(1, 11, 2))
print(num_list)
# 0에서 5까지의 범위를 거꾸로 출력하고 싶어요 5 4 3 2 1 0 -1 
num_list = list(range(5, -1, -1))
print(num_list)

[3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[5, 4, 3, 2, 1, 0]

### (4) 수정/추가/삭제

#### 수정

In [47]:
# 0에서 7까지의 범위를 리스트로 출력
num_list = list(range(8))
print(num_list)

# 1번째 값을 '일'로 바꾸기
print(num_list[1])
num_list[1] = "일"
print(num_list)

# 5번째 값을 '오'로 바꾸기
print(num_list[5])
num_list[5] = "오"
print(num_list)

# 2번째에서 3번째까지의 데이터를 영어로 바꾸기
print(num_list[2:4])
num_list[2:4] = ["two", "three"]
print(num_list)

# 3번째에서 끝까지의 데이터를 "하하하"로 바꾸기
print(num_list[3:])
num_list[3:] = "하하하"
print(num_list)

# 처음부터 3번째까지의 데이터를 10으로 바꾸기 
print(num_list[:4])
num_list[:4] = 10
print(num_list)

[0, 1, 2, 3, 4, 5, 6, 7]
1
[0, '일', 2, 3, 4, 5, 6, 7]
5
[0, '일', 2, 3, 4, '오', 6, 7]
[2, 3]
[0, '일', 'two', 'three', 4, '오', 6, 7]
['three', 4, '오', 6, 7]
[0, '일', 'two', '하', '하', '하']
[0, '일', 'two', '하']

TypeError: can only assign an iterable

* 슬라이싱한 자료를 대체하기 위해서는 여러 개의 자료가 담긴 리스트여야 한다(한개의 자료이면 안된다.)
* 문자열(ex."안녕하세요") 자동으로 글자 하나하나를 요소로 인식해준다.

#### 추가

In [54]:
data = list(range(5))
print(data)

# 데이터 한 개 추가(5를 추가)
data = data + [5]
print(data)

# 데이터 한 개 추가([1, 2, 3]를 추가)
data = data + [1, 2, 3]
print(data)

# 데이터 한 개 추가([1, 2, 3, 4, 5] 추가)
data.append([1, 2, 3, 4, 5])
print(data)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 1, 2, 3]
[0, 1, 2, 3, 4, 5, 1, 2, 3, [1, 2, 3, 4, 5]]

In [55]:
# 여러 개 추가(extend)
data.extend([1, 2, 3, 4, 5])
print(data)

[0, 1, 2, 3, 4, 5, 1, 2, 3, [1, 2, 3, 4, 5], 1, 2, 3, 4, 5]

#### 삽입

In [56]:
num_list = [10, 20, 30]
print(num_list)

# .insert(위치, 값): 위치에 값을 삽입해주세요
num_list.insert(2, 40)
print(num_list)

[10, 20, 30]
[10, 20, 40, 30]

#### 삭제

In [63]:
num_list = list(range(0, 100, 10))
print(num_list)

# 3번째 데이터를 삭제해주세요(del 이용)
del num_list[3]
print(num_list)

# 7번째 데이터를 삭제해주세요(remove 이용)
num_list.remove(70)
print(num_list)

# 뒤에서 3번째부터 끝까지 데이터를 삭제해주세요
print(num_list[-3:])
num_list[-3:] = []
print(num_list)

# 맨 뒤에 있는 데이터를 삭제하고 그 값을 출력해주세요(pop 이용)
pop_value = num_list.pop()
print(pop_value)
print(num_list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
[0, 10, 20, 40, 50, 60, 70, 80, 90]
[0, 10, 20, 40, 50, 60, 80, 90]
[60, 80, 90]
[0, 10, 20, 40, 50]
50
[0, 10, 20, 40]

예제. 게시물 코드

```
post_data = ["ID001", "ID002", "ID003", "ID004", "ID005"]
```

In [66]:
# "ID003" 데이터에 오류가 생겼다. 
# 오류가 생긴 데이터는 삭제하고 error_data에 담아주세요
post_data = ["ID001", "ID002", "ID003", "ID004", "ID005"]
pop_data = post_data.pop(2)
print(pop_data)
print(post_data)

error_data = []
error_data.append(pop_data)
print(error_data)

ID003
['ID001', 'ID002', 'ID004', 'ID005']
['ID003']

## 4) 튜플(Tuple)

### (1) 표현

In [67]:
# 빈 튜플 만들기
data = ()
print(data)

# 튜플 데이터의 타입 출력하기
print(type(data))

()
<class 'tuple'>

In [69]:
# 요소가 1개인 튜플 만들기(데이터 10)
data = (10)
print(data)
print(type(data))

data = (10,)
print(data)
print(type(data))

10
<class 'int'>
(10,)
<class 'tuple'>

In [71]:
# 수정 불가
fruits = ("사과", "오렌지", "포도")
fruits[1] = '멜론'
print(fruits)

TypeError: 'tuple' object does not support item assignment

In [72]:
# 삭제 불가
del fruits[-1]
print(fruits)

TypeError: 'tuple' object doesn't support item deletion

## 5) 딕셔너리(Dictionary)

### (1) 표현

In [73]:
mydict = {}
print(mydict)
print(type(mydict))

{}
<class 'dict'>

In [75]:
data = [["홍길동", 68], ["최수연", 44], ["김철수", 90]]
print(data)

[['홍길동', 68], ['최수연', 44], ['김철수', 90]]

In [76]:
score_data1 = {
    "이름": ["홍길동", "최수연", "김철수"],
    "성적": [68, 44, 90]
}
score_data2 = {
    "홍길동": 68, "최수연": 44, "김철수": 90
}
print(score_data1)
print(score_data2)

{'이름': ['홍길동', '최수연', '김철수'], '성적': [68, 44, 90]}
{'홍길동': 68, '최수연': 44, '김철수': 90}

In [ ]:
score_data3 = [
    {"이름": "홍길동", "성적": 68},
    {"이름": "최수연", "성적": 44},
    {"이름": "김철수", "성적": 90}
]
print(score_data3)

### (2) 딕셔너리 다루기

예제. 날씨 데이터
* 'city'키 'Busan'으로 수정하기
* 미세먼지(`pm10`)키 추가하기 (값: 34)
* 'forecast' 키에 ['Rainy', 'Rainy'] 추가하기

```
weather_data = {
    'city': 'Seoul',
    'temperature': 22.5,  # 섭씨
    'humidity': 60,       # 상대 습도(%)
    'forecast': ['Sunny', 'Cloudy', 'Rainy']  # 3일 예보
}
```

In [ ]:
weather_data = {
    'city': 'Seoul',
    'temperature': 22.5,  # 섭씨
    'humidity': 60,       # 상대 습도(%)
    'forecast': ['Sunny', 'Cloudy', 'Rainy']  # 3일 예보
}
print(weather_data)

{'city': 'Seoul', 'temperature': 22.5, 'humidity': 60, 'forecast': ['Sunny', 'Cloudy', 'Rainy']}

In [82]:
# 'city'키 'Busan'으로 수정하기
print(weather_data["city"])
weather_data["city"] = "Busan"
print(weather_data)

Busan
{'city': 'Busan', 'temperature': 22.5, 'humidity': 60, 'forecast': ['Sunny', 'Cloudy', 'Rainy']}

In [ ]:
# 미세먼지(`pm10`)키 추가하기 (값: 34)
weather_data["pm10"] = 34
print(weather_data)

{'city': 'Busan', 'temperature': 22.5, 'humidity': 60, 'forecast': ['Sunny', 'Cloudy', 'Rainy'], 'pm10': 34}

In [128]:
# 'forecast' 키에 ['Rainy', 'Rainy'] 추가하기
weather_data = {
    'city': 'Seoul',
    'temperature': 22.5,  # 섭씨
    'humidity': 60,       # 상대 습도(%)
    'forecast': ['Sunny', 'Cloudy', 'Rainy']  # 3일 예보
}
print(weather_data["forecast"])  # append, extend
weather_data["forecast"].append(['Rainy', 'Rainy'])
print(weather_data["forecast"])

['Sunny', 'Cloudy', 'Rainy']
['Sunny', 'Cloudy', 'Rainy', ['Rainy', 'Rainy']]

In [129]:
# 'forecast' 키에 ['Rainy', 'Rainy'] 추가하기
weather_data = {
    'city': 'Seoul',
    'temperature': 22.5,  # 섭씨
    'humidity': 60,       # 상대 습도(%)
    'forecast': ['Sunny', 'Cloudy', 'Rainy']  # 3일 예보
}
print(weather_data["forecast"])  # append, extend
weather_data["forecast"].extend(['Rainy', 'Rainy'])
print(weather_data["forecast"])

['Sunny', 'Cloudy', 'Rainy']
['Sunny', 'Cloudy', 'Rainy', 'Rainy', 'Rainy']

### (3) 관련 메서드

#### 조회

In [83]:
student = {"name": "홍길동", "age": 28, "height": 187.3, "score": 88}

In [ ]:
# 모든 키 조회
print(list(student.keys()))
print(type(student.keys()))

# 모든 값 조회
print(list(student.values())) 
print(type(student.values()))

# (키, 값) 쌍 조회
print(list(student.items()))
print(type(student.items()))

['name', 'age', 'height', 'score']
<class 'dict_keys'>
['홍길동', 28, 187.3, 88]
<class 'dict_values'>
[('name', '홍길동'), ('age', 28), ('height', 187.3), ('score', 88)]
<class 'dict_items'>

In [93]:
student = {"name": "홍길동", "age": 28, "height": 187.3, "score": 88}

# name키에 대한 값을 추출해주세요
print(student["name"])
print(student.get("name"))

홍길동
홍길동

In [98]:
# weight키에 대한 값을 추출해주세요
# print(student["weight"])
print(student.get("weight", "없음"))

없음

In [99]:
"weight" in student

False

In [100]:
"weight" not in student

True

In [ ]:
# student_list의 학생이 student_dict에 없으면 "참석"을 값으로 딕셔너리의 키를 등록하라.
student_list = ["홍길동", "김예지", "김사랑"]
student_dict = {"홍길동": "참석"}

for student in student_list:
    if student not in student_dict:
        student_dict[student] = "참석"
       
print(student_dict)

{'홍길동': '참석', '김예지': '참석', '김사랑': '참석'}

#### 삭제

In [103]:
student_dict = {'홍길동': '참석', '김예지': '참석', '김사랑': '참석'}
student_dict.clear()
print(student_dict)

{}

## 6) 집합

### (1) 표현

In [104]:
set_list = []
myset = set(set_list)

print(myset)
print(type(myset))

set()
<class 'set'>

In [ ]:
# 중복 제거
set_list = [1, 1, 4, 5, 5, 5, 5, 5, 5, 3]
myset = set(set_list)

print(myset)
print(type(myset))

{1, 3, 4, 5}
<class 'set'>

예제. 이메일 중복 제거

```
emails = ['user1@example.com','user2@example.com','user1@example.com','user3@example.com','user2@example.com']
```

In [106]:
emails = ['user1@example.com','user2@example.com','user1@example.com','user3@example.com','user2@example.com']
print(set(emails))

{'user3@example.com', 'user1@example.com', 'user2@example.com'}

In [107]:
email_set = set(emails)
print(email_set[0])

TypeError: 'set' object is not subscriptable

### (2) 요소 추가/제거

#### 추가

In [110]:
myset = {1, 2, 3, 4, 5}
print(myset)

# 6 추가하기 
myset.add(6)
print(myset)

# 5 추가하기
myset.add(5)
print(myset)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [111]:
# 4, 7, 8 추가하기
myset.update([4, 7, 8])
print(myset)

{1, 2, 3, 4, 5, 6, 7, 8}

#### 제거

In [113]:
# remove
myset = {1, 2, 3, 4, 5}
print(myset)
# 5 제거하기
myset.remove(5)
print(myset)
# 9 제거하기
myset.remove(9)
print(myset)

{1, 2, 3, 4, 5}
{1, 2, 3, 4}

KeyError: 9

In [114]:
# discard
myset = {1, 2, 3, 4, 5}
print(myset)
# 5 제거하기
myset.discard(5)
print(myset)
# 9 제거하기
myset.discard(9)
print(myset)

{1, 2, 3, 4, 5}
{1, 2, 3, 4}
{1, 2, 3, 4}

### (3) 연산

<img src='https://www.dropbox.com/scl/fi/o9jjkizgbclwemi9wot4h/.png?rlkey=35o0zu24jc99ggiv9ex3pukqf&st=f69cko7q&dl=1' width=30%>

In [119]:
set1 = {"A", "C", "D", "F", "G"}
set2 = {"A", "B", "F", "H"}

# 합집합(요가 또는 헬스 / 요가 or 헬스)
set_union1 = set1 | set2
print(set_union1)
set_union2 = set1.union(set2)
print(set_union2)

# 교집합(요가 그리고 헬스 / 요가 and 헬스)
set_inter1 = set1 & set2
print(set_inter1)
set_inter2 = set1.intersection(set2)
print(set_inter2)

# 차집합(요가만 다니는 사람, 요가 - 헬스)
set_diff1 = set1 - set2
print(set_diff1)

# 차집합(헬스만 다니는 사람, 헬스 - 요가)
set_diff2 = set2 - set1 
print(set_diff2)

{'B', 'H', 'D', 'F', 'A', 'C', 'G'}
{'B', 'H', 'D', 'F', 'A', 'C', 'G'}
{'F', 'A'}
{'F', 'A'}
{'D', 'C', 'G'}
{'H', 'B'}

## 7) 불

In [120]:
switch = True
login = False

In [122]:
login = True
if login == True:
    print("환영합니다")

환영합니다

In [123]:
visitors = ["A", "C", "G"]
if "H" not in visitors:
    print("'H'는 오늘 출근하지 않았습니다.")

'H'는 오늘 출근하지 않았습니다.

In [1]:
post1 = ["#헬스", "#단백질"]
post2 = ["#닭가슴살", "#다이어트", "#단백질"]
post3 = ["#요요", "#헬스", "#다이어트"]
post4 = ["#닭가슴살", "#단백질"]

posts = [post1, post2, post3, post4]

# 문제1. 인스타그램 포스트별로 데이터를 수집하고 싶다
tags = []
for post in posts:
    tags.append(post)

print(tags)

[['#헬스', '#단백질'], ['#닭가슴살', '#다이어트', '#단백질'], ['#요요', '#헬스', '#다이어트'], ['#닭가슴살', '#단백질']]

In [2]:
# 문제2. 모든 해시태그들을 tags라는 변수에 담고 싶다
tags = []
for post in posts:
    tags.extend(post)

print(tags)

['#헬스', '#단백질', '#닭가슴살', '#다이어트', '#단백질', '#요요', '#헬스', '#다이어트', '#닭가슴살', '#단백질']

In [3]:
# 문제3. 해시태그 카테고리가 몇 개인지 알고 싶다
result = set(tags)
print(result)

{'#단백질', '#다이어트', '#닭가슴살', '#요요', '#헬스'}