In [5]:
# 정수
x = 5
y = -1
z = 0
money = 1_000_000_000_000

print(x, y, z, money)

5 -1 0 1000000000000

In [7]:
x = 1e+10
y = 3e-5

print(x, y)

10000000000.0 3e-05

반복할 횟수 구하기: 100개의 게시물을 한 페이지에 30개씩 보여주려면 총 몇 페이지가 필요할까요?

In [ ]:
# 100 나누기 30 = 몫 3 나머지 10
# 나머지 10도 페이지로 표현할 수 있다. 
# 나머지가 있는 경우에는 몫에 1을 더해야 한다.

posts = 100
posts_per_page = 30 

pages = posts // posts_per_page 
remainder = posts % posts_per_page
print(pages, remainder)

import math;
print(math.ceil(100.0 / 30))

pages = posts // posts_per_page + 0 if 100 % 30 == 0 else 1
print(pages)

3 10

출생년도가 1982일 때 홀수, 짝수 판단하기

In [15]:
# 코드로 짝수/홀수 판단하는 방법: 나머지가 1이면 홀수, 0이면 짝수
# 나머지 연산자: %

birth = 1982

result = birth % 2
print(result)

0

<img src='https://www.dropbox.com/scl/fi/ixvhz1b0jwtqgz2dp3v9g/_.png?rlkey=2bj00kc0ozcfyh3jiyjd7598z&st=rsppaheg&dl=1' width=70%>

문제. 주민등번호 뒷자리에서 성별을 제외하고 *로 표시해주세요.

In [50]:
regist_num = "901212-1325221"

# 1. 성별까지 문자열을 추출한다.
# 2. 뒤의 6자리를 *로 표현한다. 
# 1과 2를 합친다.

left = regist_num[:8]
print(left)
right = "*" * 6
print(right)

result = left + right
print(result)

901212-1
******
901212-1******

### (4) 문자열 포매팅(f-string)

In [53]:
name = "홍길동야"

print(f"{name}님 환영합니다.")

홍길동야님 환영합니다.

### (5) 관련 메서드

#### 대/소문자 변환(lower, upper)

In [64]:
gender = "mmffMFmf"
print(gender.lower())
print(gender.upper())

mmffmfmf
MMFFMFMF

#### 공백 제거(lstrip/rstrip/strip)

In [66]:
name = "    홍길동    " 

print(name)
print(f"|{name}|")
print(f"|{name.strip()}|")
print(f"|{name.lstrip()}|")
print(f"|{name.rstrip()}|")

    홍길동
|    홍길동    |
|홍길동|
|홍길동    |
|    홍길동|

#### 카운트 세기(count)

In [68]:
gender1 = "mmffMFmf"
gender2 = gender.lower()
print(gender1.count("m"))
print(gender2.count("m"))

3
4

In [14]:
num_list = list(range(10))
print(num_list)

# num_list[2:] = ["하하하"] * 7
# print(num_list)

num_list[:4] = [10] * 3
print(num_list)

num_list.remove(4)
print(num_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 10, 10, 4, 5, 6, 7, 8, 9]
[10, 10, 10, 5, 6, 7, 8, 9]

예제. 날씨 데이터
* 'city'키 'Busan'으로 수정하기
* 미세먼지(`pm10`)키 추가하기 (값: 34)
* 'forecast' 키에 ['Rainy', 'Rainy'] 추가하기

```
weather_data = {
    'city': 'Seoul',
    'temperature': 22.5,  # 섭씨
    'humidity': 60,       # 상대 습도(%)
    'forecast': ['Sunny', 'Cloudy', 'Rainy']  # 3일 예보
}
```

In [17]:
weather_data = {
    'city': 'Seoul',
    'temperature': 22.5,  # 섭씨
    'humidity': 60,       # 상대 습도(%)
    'forecast': ['Sunny', 'Cloudy', 'Rainy']  # 3일 예보
}

weather_data['city'] = 'Busan'
weather_data['pm10'] = 34
weather_data['forecast'].extend(['Rainy', 'Rainy'])

print(weather_data)

{'city': 'Busan', 'temperature': 22.5, 'humidity': 60, 'forecast': ['Sunny', 'Cloudy', 'Rainy', 'Rainy', 'Rainy'], 'pm10': 34}

In [ ]:
# 15만원 이상인 상품들만 딕셔너리로 만들고 싶어요
wishlist = {"노트북": 1200000, "마우스": 33000, "키보드": 110000, "모니터": 290000}

new = {}
for key, value in wishlist.items():
    if value > 150000:
        new[key] = value

print(new)

print(dict(filter(lambda item: item[1] > 150000, wishlist.items())))

print({key: value for key, value in wishlist.items() if value >= 150000})

print([x if x > 2 else 0 for x in range(10)])
print([x for x in range(10) if x > 2])

{'노트북': 1200000, '모니터': 290000}
{'노트북': 1200000, '모니터': 290000}
{'노트북': 1200000, '모니터': 290000}
[0, 0, 0, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8, 9]

In [11]:
a = ["A", "B", "C"]
b = [1, 2, 3]

for i, j in zip(a,b):
    print(i, j)

A 1
B 2
C 3

In [ ]:
import os

print(os.getcwd())

c:\Potenup\pyton_exercises

In [19]:
os.mkdir("data")

In [ ]:
with open("data/mytext.txt", mode="w", encoding="utf-8") as f:
    f.write("hello\n")

with open("data/mytext.txt", mode="r", encoding="utf-8") as f:
    message = f.read()
print(message)

with open("data/mytext.txt", mode="a", encoding="utf-8") as f:
    f.write("hihi")

hello

In [47]:
reviews = ["안녕안녕", "내이름은", "김서영"]

with open("data/mytext.txt", "w", encoding="utf-8") as f:
    for review in reviews:
        f.write(review + "\n")

In [ ]:
if True:
    a = 123
print(a)

123

In [50]:
def devied(x, y):
    return x / y
    
try:
    devied(5, 0)
except:
    pass

try:
    devied(5, 0)
except:
    print("잘못된 입력입니다.")

try:
    devied(5, 0)
except Exception as e:
    print(type(e).__name__)
    print(e)

잘못된 입력입니다.
ZeroDivisionError
division by zero